---
import PageHelper from "../shared/astro/page.astro";
import HeroBlock from "src/shared/astro/hero-block.astro";
import Layout, { type SEOProps } from "./Layout.astro";

type Props = {
  frontmatter: {
    title: string;
    content_blocks: any[];
    hero_block: any;
    seo?: SEOProps;
  };
};

const props = Astro.props.frontmatter;
---

<Layout {...props}>
  <HeroBlock bookshop:live heroBlock={props.hero_block} />
  <PageHelper bookshop:live contentBlocks={props.content_blocks} />
  {Astro.slots.has("default") && (
    <div class="markdown-text" data-cms-edit="content" data-pagefind-body>
      <slot />
    </div>
  )}
</Layout>
